<%= render "layouts/page_title" %>
<div class="container rounded" style="background:white; padding: 2%">
  <%= link_to 'Nouvel article', new_article_path, class:'btn btn-primary btn-lg btn-block mb-2' %>
  <table class="table">
    <thead class="thead-dark rounded">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= link_to 'Consulter', article_path(article.id) %></td>
          <td><%= link_to 'Modifier', edit_article_path(article.id) %></td>
          <td><%= link_to 'Supprimer', article_path(article.id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="text-muted font-italic"><%= @articles.length %> articles</p>
  </div>
