<%= render "layouts/page_title" %>
<div class="container">
  <div class="form-group mb-5">
    <div class="row">
      <div class="col-md-3">
        <img src="https://loremflickr.com/320/240" class="img-fluid img-thumbnail">
      </div>
      <div class="col-md-9">
        <%= @article.text %>
        <p class='text-danger'><%= @article.created_at.to_formatted_s(:short)  %></p>
      </div>
  </div>
  <div class="mt-5 mb-5">
    <%= render "layouts/back_home" %>
    <%= render "layouts/destroy_article" %>
    </div>
    <hr class="my-4">
    <h3>Commentaires</h3>
  <% @article.comments.each do |comment| %>
  <h5><%= comment.author %></h5>
  <p class='font-italic'><%= comment.body %></p>
  <% end %>
  <hr class="my-4">
  <%= render "forms/new_form_comment" %>
</div>
</div>
