<%= render "layouts/page_title" %>
<div class="container">
  <div class="form-group mb-5">
    <div class="row">
      <div class="col-md-3">
        <img src="https://loremflickr.com/320/240" class="img-fluid img-thumbnail">
      </div>
      <div class="col-md-9">
        <%= @article.text %>
        <p class='text-danger'><%= @article.created_at.to_formatted_s(:short)  %></p>
      </div>
  </div>
  <div class="mt-5 mb-5">
    <%= render "layouts/back_home" %>
    <%= render "layouts/destroy_article" %>
    </div>
  <% @article.comments.each do |comment| %>
  <h3><%= comment.author %></h3>
  <p><%= comment.body %></p>
  <% end %>
  <hr class="my-4">
  <%= render "forms/new_form_comment" %>
</div>
</div>
