<%= render "layouts/page_title" %>
<div class="container">
  <div class="form-group mb-5">
    <h2>Text</h2><br>
    <%= @article.text %>
    <div class="mt-2">
      <%= render "layouts/back_home" %>
      <%= render "layouts/destroy_article" %>
      </div>
  </div>
  <% @article.comments.each do |comment| %>
  <h3><%= comment.author %></h3>
  <p><%= comment.body %></p>
  <% end %>
  <hr class="my-4">
  <%= render "forms/new_form_comment" %>
</div>
