<%= render "layouts/page_title" %>
<div class="container rounded" style="background:white; padding: 2%">
  <%= link_to 'Nouveau membre', new_user_path, class:'btn btn-primary btn-lg btn-block mb-2' %>
  <table class="table">
    <thead class="thead-dark rounded">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Consulter', user_path(user.id) %></td>
          <td><%= link_to 'Modifier', edit_user_path(user.id) %></td>
          <td><%= link_to 'Supprimer', user_path(user.id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="text-muted font-italic"><%= @users.length %> membres</p>
  </div>
